.header-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(19, 121, 9, 1) 33%, rgba(0, 212, 255, 1) 99%);
}

.header-items h1 {
    margin-bottom: 10px;
}

.header-items .input-search {
    width: 50%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 8px;

}

/* main */
.main-items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.main-items .main-cart {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    width: 310px;
    /* height: ; */
    border: 1px solid #ccc;
    border-radius: 24px;
    margin-left: 10px;
}

.main-cart .main-cart-body {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.main-cart-body img {
    width: 100%;
    height: 270px;
}

.main-cart-body h5 {
    color: #555252;
}

.main-cart-body p {
    color: #868383;
}

.main-cart-footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-cart-footer button {
    width: 80%;
    padding: 16px;
    background-color: #555252;
    color: white;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 16px;
}

/* footer */
.footer-items {
    background-color: #403d3d;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-items .footer-title{
    margin-bottom: 20px;
}
.footer-items h1 {
    color: white;
    font-family: sans-serif;
}
.footer-subsitle h3{
    color: #ccc;
}